@media only screen and (max-width: 781px) {
  .post-container {
    font-size: 17px;
  }
}

@media only screen and (max-width: 701px) {
  .post-container {
    font-size: 15px;
  }

  .user-comment-txt {
    width: 20em !important;
  }
}

@media only screen and (max-width: 651px) {
  .post-container {
    font-size: 12px;
  }

  .user-comment-txt {
    width: 14em !important;
  }

  .like_button, .liked_button {
    padding: 7px 15px !important;
    font-size: 14px !important;
  }
}

@media only screen and (max-width: 521px) {
  .post-container {
    font-size: 9px;
  }

  .user-comment-txt {
    width: 9em !important;
  }
  
  .like_button, .liked_button {
    padding: 5px 11px !important;
    font-size: 11px !important;
  }

  .send-btn {
    font-size: 15px !important;
    padding: 5px 7px;
  }
}

@media only screen and (max-width: 381px) {
  .post-container {
    font-size: 7px;
  }

  .user-comment-txt {
    width: 9em !important;
    font-size: 11px !important;
  }
  
  .like_button, .liked_button {
    padding: 5px !important;
  }

  .send-btn {
    font-size: 13px !important;
    padding: 5px;
  }
}

@media only screen and (max-width: 307px) {
  .post-container {
    font-size: 6px;
  }

  .user-comment-txt {
    width: 7em !important;
    padding: 5px !important;
  }
  
  .like_button, .liked_button {
    padding: 5px !important;
  }

  .send-btn {
    font-size: 9px !important;
    padding: 3px;
  }
}

.container {
  background-color: rgb(244, 243, 243);
}

.post-container {
  box-shadow: 0px 1px 3px rgb(114, 114, 114);
  background-color: white;
  width: 39em;
  margin: 15px auto;
  border-radius: 12px;
  padding: 3px;
}

.img-name-container {
  display: flex;
}

.logo-img {
  height: 49px;
  width: 49px;
  border-radius: 50%;
  margin: 5px;
}

.user-name {
  margin-top: 13px;
  font-weight: 500;
  font-size: 21px;
}

.grid-img-container {
  position: relative;
  width: 99%;
  margin: 0 3px;
}

.grid-img-container img{
  width: 13em;
}

.desc-txt {
  display: block;
  width: 99%;
  margin: 3px 7px;
  overflow-wrap: break-word;
  font-size: 1em;
}

.title-txt{
  display: block;
  width: 99%;
  margin: 5px 7px;
  overflow-wrap: break-word;
  font-size: 1.2em;
  font-weight: 700;
}

.like-comment-container{
  border-top: 1px solid gray;
  display: flex;
  justify-content: center;
  padding: 7px;
}

.txt-input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.comment-user-img {
  height: 45px;
  width: 45px;
  border-radius: 50%;
}

.user-comment-txt {
  width: 23em;
  padding: 6.5px;
  border-radius: 19px;
  border: none;
  font-size: 17px;
  margin: 3px;
  outline: none;
  background-color: rgb(242, 241, 241);
}

.send-btn {
  font-size: 17px;
  margin: 0px 3px;
  box-shadow: 0px 0px 7px gray;
  padding: 7px 11px;
  cursor: pointer;
  border-radius: 9px;
}

@media only screen and (max-width: 1071px) {
  .icon {
    margin: 2.7px !important;
    font-size: 29px !important;
  }

  .post-container {
    width: 37em;
  }
}

.buttonWrapper {
  position: relative;
  display: inline-block;
}

.like_button {
  background: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 0px 5px rgb(200, 200, 200);
  margin-right: 3px;
  z-index: 1;
}

.liked_button {
  background: #0070f3;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
  z-index: 1;
}

.btn_spinner_container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5em;
}

.btn_spinner{
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-left-color: #000;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 1s linear infinite;
  margin-right: 3px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}