@media only screen and (max-width: 781px) {

  .like-img,
  .comment-img,
  .share-img {
    font-size: 23px !important;
    margin-right: 9.5px;
  }
}

@media only screen and (max-width: 701px) {

  .like-img,
  .comment-img,
  .share-img {
    font-size: 21px !important;
    margin-right: 9px;
  }
}

@media only screen and (max-width: 601px) {

  .like-img,
  .comment-img,
  .share-img {
    font-size: 17px !important;
    margin-right: 9px;
  }
}

@media only screen and (max-width: 501px) {

  .like-img,
  .comment-img,
  .share-img {
    font-size: 14px !important;
    margin-right: 7px;
  }
}

@media only screen and (max-width: 471px) {

  .like-img,
  .comment-img,
  .share-img {
    font-size: 12px !important;
    margin-right: 6px;
  }
}

@media only screen and (max-width: 399px) {

  .like-img,
  .comment-img,
  .share-img {
    font-size: 10.5px !important;
    margin-right: 5px;
  }
}

.main-container{
  font-size: 10px;
}

.container {
  background-color: rgb(244, 243, 243);
}

.post-container {
  box-shadow: 0px 1px 3px rgb(114, 114, 114);
  background-color: white;
  width: 39em;
  margin: 15px auto;
  border-radius: 12px;
  padding: 3px;
}

.img-name-container {
  display: flex;
}

.logo-img {
  height: 49px;
  width: 49px;
  border-radius: 50%;
  margin: 5px;
}

.user-name {
  margin-top: 13px;
  font-weight: 500;
  font-size: 21px;
}

.grid-img-container {
  position: relative;
  width: 99%;
  margin: 0 3px;
}

.desc-txt {
  display: block;
  width: 99%;
  margin: 3px;
  overflow-wrap: break-word;
}

#loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader {
  width: 191px;
  aspect-ratio: 1;
  border-radius: 50%;
  background:
    radial-gradient(farthest-side, rgb(55, 25, 207) 94%, #0000) top/8px 8px no-repeat,
    conic-gradient(#0000 30%, rgb(55, 25, 207));
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 23px), #000 0);
  animation: l13 1s infinite linear;
}

@keyframes l13 {
  100% {
    transform: rotate(1turn)
  }
}

.icon-container {
  display: flex;
  justify-content: center;
  width: 100%;
  border-top: 0.3px solid rgb(193, 193, 193);
  padding-top: 3px;
}

.like-icon,
.share-icon,
.comment-icon {
  flex-grow: 1;
  padding: 5px 0px;
  border-radius: 7.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.like-icon:hover,
.share-icon:hover,
.comment-icon:hover {
  transition: 900ms;
  background-color: rgb(217, 211, 211);
}

.like-img,
.comment-img,
.share-img {
  transition: 800ms;
  font-size: 25px;
  margin-right: 13px;
}

.txt {
  margin-top: 3px;
  font-size: 21px;
}

.txt-input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.comment-user-img {
  height: 45px;
  width: 45px;
  border-radius: 50%;
}

.user-comment-txt {
  width: 23em;
  padding: 6.5px;
  border-radius: 19px;
  border: none;
  font-size: 17px;
  margin: 3px;
  outline: none;
  background-color: rgb(242, 241, 241);
}

.send-btn {
  font-size: 17px;
  margin: 0px 3px;
  box-shadow: 0px 0px 7px gray;
  padding: 7px 11px;
  cursor: pointer;
  border-radius: 9px;
}

@media only screen and (max-width: 1071px) {
  .icon {
    margin: 2.7px !important;
    font-size: 29px !important;
  }

  .post-container {
    width: 37em;
  }
}

.buttonWrapper {
  position: relative;
  display: inline-block;
}

.like_button {
  background: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 0px 5px rgb(200, 200, 200);
  margin-right: 3px;
  z-index: 1;
}

.liked_button {
  background: #0070f3;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
  z-index: 1;
}

.btn_spinner_container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5em;
}

.btn_spinner{
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-left-color: #000;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 1s linear infinite;
  margin-right: 3px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}